@media only screen
  and (min-device-width : 320px)
  and (max-device-width : 568px) {
    img {
        width: auto;
        height: auto;
    }
  }

  @media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px)
  and (-webkit-min-device-pixel-ratio: 1)  { 
    img {
        width: auto;
        height: auto;
    }
  }

  @media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px)  { 
    img {
        width: auto;
        height: auto;
    }
  }